*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*====Variables=============*/
:root{
    --header-height: 4.5rem;

    /* colors */
    --hue: 60;
    /* HSL color mode */
    --base-color-1: hsl(var(--hue) 36% 57%);
    --base-color-second-1: hsl(var(--hue) 65% 88%);
    --base-color-alt-1: hsl(var(--hue) 57% 53%);
    --title-color-1: hsl(var(--hue) 41% 25%);
    --text-color-1: hsl(0 0% 46%);
    --text-color-light-1: hsl(0 0% 98%);
    --body-color-1: hsl(0 0% 98%);

    /*fonts*/
    --title-font-size-1: 1.25rem;
    --menu-font-size-1: 1.1rem;
    --subtitle-font-size-1: 2rem;
    --product-font-size-1: 3rem;
    --title-font-1: 'Poppins', sans-serif;
    --body-font-1: 'DM Sans', sans-serif;
}
h3{
    color: var(--base-color);
    background: var(--base-color-second);
}
.row{
    background: none;
}
a{
    text-decoration: none;
    color: black;
}
html{
    scroll-behavior: smooth;
}
body{
    font: 400 1rem var(--body-font-1);
    color: var(--text-color-1);
    -webkit-font-smoothing: antialiased;
}
.title{
    font: 700 var(--title-font-size-1) var(--title-font-1);
    color: var(--base-color-alt-1);
    -webkit-font-smoothing: auto;
}
nav h2{
    font: 400 var(--menu-font-size-1) var(--title-font-1);
    -webkit-font-smoothing: auto;
}

span.inc{
    border: solid 2px var(--title-color-1);
    padding: 5px;
    -webkit-font-smoothing: auto;
}
span.sub{
    font: 600 var(--subtitle-font-size-1) var(--body-font-1);
    color: var(--base-color-alt-1);
    -webkit-font-smoothing: auto;

}
.list-group-item{
    font: 200 var(--subtitle-font-size-1) var(--body-font-1);
    color: var(--title-color-1);
    -webkit-font-smoothing: auto;
}
.products{
    background: var(--body-color-1);
    margin: 24px;
    padding: 0px;
}
.products h2{
    padding: 1.5rem;
    text-align: center;
    border-bottom: solid;
    color: var(--base-color);
}
.products h2 span{
    font: 700 var(--products-font-size-1) var(--title-font-1);
    color: var(--title-color-1);
}
.btn{
    color: var(--body-font-1);
    background-color: var(--base-color);
    padding: 5px;
    transition: .3s;
}
.btn:hover{
    background-color: var(--base-color-alt);
    padding: 8px;

}
.card{
    margin: 1rem;
    box-shadow: 1px 1px 10px 1px hsl(var(--hue) 36% 57%);
    transition: .3s;
}
.card:hover{
    box-shadow: .2px .2px 2px .2px hsl(var(--hue) 36% 57%);
    transform: translateY(-8px);
}