*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*====Variables=============*/
:root{
    --header-height: 4.5rem;

    /* colors */
    --hue: 60;
    /* HSL color mode */
    --base-color-1: hsl(var(--hue) 36% 57%);
    --base-color-second-1: hsl(var(--hue) 65% 88%);
    --base-color-alt-1: hsl(var(--hue) 57% 53%);
    --title-color-1: hsl(var(--hue) 41% 25%);
    --text-color-1: hsl(0 0% 46%);
    --text-color-light-1: hsl(0 0% 98%);
    --body-color-1: hsl(0 0% 98%);
    --products-bg-color: hsl(var(--hue) 50% 46%);
    /*fonts*/
    --title-font-size-1: 1.25rem;
    --menu-font-size-1: 1.1rem;
    --subtitle-font-size-1: 2rem;
    --product-font-size-1: 3rem;
    --title-font-1: 'Poppins', sans-serif;
    --body-font-1: 'DM Sans', sans-serif;
}
h3{
    color: var(--base-color);
    background: var(--base-color-second);
}
.row{
    background: none;
}
a{
    text-decoration: none;
    color: black;
}
html{
    scroll-behavior: smooth;
}
body{
    font: 400 1rem var(--body-font-1);
    color: var(--text-color-1);
    -webkit-font-smoothing: antialiased;
}
.title{
    font: 700 var(--title-font-size-1) var(--title-font-1);
    color: var(--base-color-alt-1);
    -webkit-font-smoothing: auto;
}
nav h2{
    font: 400 var(--menu-font-size-1) var(--title-font-1);
    -webkit-font-smoothing: auto;
}
.border-edit{
    border: solid 1px var(--base-color-second-1);
    box-shadow: 5px 6px 7px 1px var(--base-color-second-1);
    transition: .3s;
}
.border-edit:hover{
    box-shadow: 1px 1px 1px 1px var(--base-color-second-1);

}
.border-edit p,
.border-edit h5{
    color: var(--base-color-second);
    font: 700 var(--title-font-size-1) var(--title-font-1);
    background: var(--products-bg-color);
    border-radius: 3px;
}

span.inc{
    border: solid 2px var(--title-color-1);
    padding: 18px 5px 5px 5px;
    -webkit-font-smoothing: auto;
}
span.sub{
    font: 600 var(--subtitle-font-size-1) var(--body-font-1);
    color: var(--base-color-alt-1);
    -webkit-font-smoothing: auto;

}

.list-group-item{
    font: 200 var(--subtitle-font-size-1) var(--body-font-1);
    color: var(--title-color-1);
    -webkit-font-smoothing: auto;
}
.products{
    background: var(--products-bg-color);
    margin: 24px;
    padding: 0px;
}
.products h2{
    padding: 1.5rem;
    text-align: center;
    border-bottom: solid;
    color: var(--base-color);
}
.products h2 span.products-title{
    color: var(--title-color);
    font: 700 var(--subtitle-font-size-1) var(--body-font-1);
    -webkit-stroke-color: #FFF;
    -webkit-stroke-width: 1px;
    color: #000;
    text-shadow: 
        -1px -1px 0px #FFF, 
        -1px 1px 0px #FFF,                    
        1px -1px 0px #FFF,                  
        1px 0px 0px #FFF;

}
.btn{
    color: var(--body-font-1);
    background-color: var(--base-color);
    padding: 5px;
    transition: .3s;
}
.btn:hover{
    background-color: var(--base-color-alt);
    padding: 8px;

}
.card{
    margin: 1rem;
    box-shadow: 1px 1px 10px 1px hsl(var(--hue) 36% 57%);
    transition: .3s;
}
.card:hover{
    box-shadow: .2px .2px 2px .2px hsl(var(--hue) 36% 57%);
    transform: translateY(-8px);
}


/*===============FOOTER=====================*/
footer{
    background: var(--base-color);
    margin: 0;
}
footer.section{
padding: 4rem 0;
}
footer a.logo{
    font: 700 var(--subtitle-font-size-1) var(--title-font-1);
    padding: 0px;
    color: var(--text-color-1);
    transition: .3s;    
}
footer a span{
    color: var(--text-color-light-1);

}
footer a.logo:hover{
    color: var(--base-color-second);
    padding: 5px;
}
footer .logo{
display: inline-block;
margin-bottom: 1.5rem;
}
footer .brand p{
color: var(--text-color-light);
margin-bottom: 0.75rem;
}
footer i{
font-size: 1.5rem;
color: var(--text-color-light);
}
footer .social a{
display: inline-block;
transition: .3s;
}
footer .social a:hover{
transform: translateY(-8px);
}
footer .social a i.icon-instagram:hover{
color: var(--products-bg-color);
}
footer .social a i.icon-facebook:hover{
color: blue;
}
footer .social a i.icon-youtube:hover{
color: red;
}
footer .social a i.icon-github:hover{
color: black;
}
footer .social a i.icon-whatsapp:hover{
color: green;
}

footer .social{
grid-auto-flow: column;
width: fit-content; 
}
.grid{
display: grid;
gap: 2rem;
}
   @media(min-width: 1200px){
    footer.section{
        padding: 3.75rem 0;
    }
    footer .container{
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
    }
    footer .logo{
        font-size: 2.25rem;
    }
}
    @media(min-width: 545px){
    footer.section{
        padding: 3.75rem 0;
    }
    footer .container{
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
    }
    footer .logo{
        font-size: 2.25rem;
    }
}